@import url("https://fonts.googleapis.com/css2?family=Georgia&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

/* Header */

.navWrapper {
  min-width: 100%;
  background: #fff;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navContainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logoWrapper {
  font-family: "Georgia";
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logoText {
  margin-left: 30px;
}
.logoImgWrapper {
  width: 27px;
  display: flex;
  margin-right: 10px;
}

.btnsWrapper {
  display: flex;
}
.postAJobButton {
  background: green;
  padding: 5px 15px;
  border: none;
  outline: none;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 2px;
  height: 35px;
  width: 120px;
  transition: all 0.5s;
}
.postAJobButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s;
}

.postAJobButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.postAJobButton:hover span {
  padding-right: 25px;
}

.postAJobButton:hover span:after {
  opacity: 1;
  right: 0;
}
.loginButtonHeader {
  background: var(--primary);
  padding: 5px 20px;
  border: none;
  outline: none;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 2px;
  height: 35px;
  width: 90px;
  transition: all 0.5s;
}
.loginButtonHeader span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s;
}

.loginButtonHeader span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.loginButtonHeader:hover span {
  padding-right: 25px;
}

.loginButtonHeader:hover span:after {
  opacity: 1;
  right: 0;
}

/* HomePage */

.stats_btn {
  padding: 5px 30px;
  margin-top: -35px;
}

.job-item-parent {
  background-color: #808080;
}

.job-listing {
  display: block;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
  margin-bottom: 35px;
  background-color: #fff;
  position: relative;
  text-decoration: none;
  transition: top ease 0.5s;
  transition: 0.5s;
}

.job-listing:hover {
  text-decoration: none;
  top: -1px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 25%);
}

.job-listing-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 35px;
  padding-bottom: 32px;
}

.job-listing .job-listing-description {
  flex: 1;
  padding-top: 3px;
}

.job-listing h4.job-listing-company {
  font-size: 16px;
  color: #808080;
}

.job-listing h3.job-listing-title {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}

.job-listing .job-listing-description p {
  margin: 15px 0 0 0;
  padding: 0;
  color: #666;
}

.job-listing .job-listing-footer {
  background-color: #f2f2f2;
  padding: 20px 35px;
  border-radius: 0 0 4px 4px;
  position: relative;
}

.job-listing .job-listing-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.job-listing .job-listing-footer ul li {
  display: inline-block;
  margin-right: 14px;
  color: #777;
}

.job-listing .job-listing-footer ul li i.icon-material-outline-location-on {
  margin-right: 0;
}

.job-listing .job-listing-footer ul li i {
  position: relative;
  top: 1px;
  margin-right: 3px;
  color: #777;
}

/* Footer */

footer {
  margin-top: 6rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* 404 Page */

.page-not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 68vh;
}

.page-not-found-wrapper h5 {
  color: grey;
}

/* Job Details Page */

.job-details-wrapper {
  background: #f5f7fa;
  padding-top: 50px;
  padding-bottom: 100px;
}

.job-details,
.job-contact-details {
  background-color: white;
  border-radius: 10px;
}

.job-header {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.job-header h2 {
  color: rgb(59, 59, 59);
}

.job-header span {
  color: grey;
}

.job-contact-details h5 {
  color: rgb(144, 144, 144);
}

.job-contact-details p {
  color: rgb(20, 20, 20);
  margin-left: 5px;
}

.apply-btn {
  border-radius: 20px;
}

/* Login, Register, Upload, Search */

.modalMask {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.modalWrapper {
  width: 75%;
  height: 70vh;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  display: flex;
  z-index: 20;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.h70 {
  height: 60%;
}

.right {
  border-left: 1px solid rgb(196, 196, 196);
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.rightContentWrapper,
.leftContentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.headerWrapper h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #505050;
  font-weight: bold;
  margin-left: 10px;
}

.LoginLogoWrapper,
.RegisterLogoWrapper {
  width: 34px;
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 13px;
  background: rgb(241, 241, 241);
}

.inputBox {
  display: flex;
  align-items: center;
  width: 85%;
  padding: 15px;
  margin-left: 5%;
  background: rgb(241, 241, 241);
  margin-bottom: 15px;
}

.inputBox i {
  font-size: 12px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginButtonWrapper,
.registerButtonWrapper,
.searchButtonWrapper,
.createButtonWrapper,
.uploadButtonWrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.loginButton,
.registerButton,
.searchButton,
.createButton,
.uploadButton {
  width: 170px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loginButton:hover,
.registerButton:hover,
.searchButton:hover,
.createButton:hover,
.uploadButton:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loginButton:focus,
.registerButton:focus,
.searchButton:focus,
.createButton:focus,
.uploadButton:focus {
  outline: none;
}

.signup {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  color: rgb(36, 36, 36);
}

.signup a {
  text-decoration: none;
  color: var(--primary);
  margin-left: 10px;
}

@media only screen and (max-width: 920px) {
  .modalWrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  .left {
    display: none;
  }

  .modalWrapper {
    width: 95%;
  }

  .right {
    border-left: none;
  }

  .inputBox {
    width: 93.5%;
    margin-left: 0;
  }

  .signup {
    margin-top: 10px;
  }
}
